*{
    margin: 0px;    
    font-family: 'inter';  
}

header{
    background-image: url(./Imagens/backgroundheader.svg);    
    height: 475px;
    color: white;
    width: 1440px;
}
main{
    width: 1440px;
    
}
#titulohead{
    display: flex;
    padding-top: 206px;
    margin-left: 62px;
    font-size: 60px;
}

#phead{
    padding-top: 20px;
    margin-left: 62px;
    font-size: 20px;
}

#divmain{
    height: 229px;
    display: grid;
    grid-auto-flow: column; 
    background-color: #f9f9f9;
    background-size: cover;
    columns: auto;
    padding-left: 104px;
    padding-top: 24px;
    align-items: center;  
}

.titulomain{    
    background-color: #f9f9f9;
    font-size: 40px;
    line-height: 28px;    
}

.pmain{
    background-color: #f9f9f9;
    font-size: 20px;
    margin-top: 10px;
}

#corpo{
    color: black;
    display: grid;
    grid-auto-flow: column; 
    columns: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;

}
h2{
    font-size: 40px;
    margin-bottom: 36px;
}

#p2main{
    font-size: 24px;
}

#texto-corpo{
    margin-left: 77px;
    margin-right: 50px;
}

#card-corpo{
    border-radius: 30%;
}

footer{
    text-align: center;
    background-color: #303030;
    height: 638px;
    width: 1440px;
}

#titulo-form{
    font-size: 32px;
    padding-top: 125px;
    color: #FFFFFF;
    padding-bottom: 50px;
}

input{
    font-size: 24px;
    border: 0px;
    margin-bottom: 67px;
    width: 508px;
    height: 72px;
    border-radius: 10px;
    padding-left: 10px;
}

button{
    width: 286px;
    height: 74px;
    background-color: #C07212;
    border-radius: 10px;
}